img {
  display: block;
  max-width: 100%;
  margin: "0 auto";
  font-style: italic;
  text-align: "center";
}

.sticky-nav {
  z-index: 5;
  width: 100%;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

::backdrop {
  background: lightgray;
  opacity: 0.6;
  filter: blur(1.2rem);
  /* background-image: linear-gradient( */
  /*   45deg, */
  /*   magenta, */
  /*   rebeccapurple, */
  /*   dodgerblue, */
  /*   green */
  /* ); */
  /* opacity: 0.75; */
}
