img {
  display: block;
  max-width: 100%;
  margin: "0 auto";
  font-style: italic;
  text-align: "center";
}

.sticky-nav {
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
